[Database]
server = your.server.name.here
database = your_database_here
username = your_username_here
password = your_password_here
trustservercertificate = yes/no

[Driver]
driver = {your sql driver details go here}

[Zotero]
library_id = your_zotero_library_id_here
library_type = group_or_user
api_key = your_zotero_api_key_here

[CrossRef]
mailto = your_email@example.org
